body{
    background-color: #6CEEA5;
    margin: 0px;
}
.teksts{
    font-family: 'Common Pixel', sans-serif;
    text-align: center;
    font-size: 140%;
}
.header{
    height: 55px;
    width: 100%;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
}
.info{
    position: fixed;
    left: 10%;
    top: 1.3%;
    background-color: #6CEEA5;
    color: black;
    border: 2px solid #6CEEA5;
    font-size: 20px;
    border-radius: 2px;
    transition-duration: 0.4s;
    font-family: 'Common Pixel', sans-serif;
}
.info:hover{
    background-color: black; /* Green */
    color: white;
}

.kontakti{
    position: fixed;
    left: 16%;
    top: 1.3%;
    background-color: #6CEEA5;
    color: black;
    border: 2px solid #6CEEA5;
    font-size: 20px;
    border-radius: 2px;
    transition-duration: 0.4s;
    font-family: 'Common Pixel', sans-serif;
}
.kontakti:hover{
    background-color: black; /* Green */
    color: white;
}
img{
    position: absolute;
    left: 5%;
    width: 2.5%;
    top: 0.75%;
}