<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/info.css">
    <link href="http://fonts.cdnfonts.com/css/common-pixel" rel="stylesheet">
    <title>Info</title>
</head>
<body>
    <div class="header">
        <a href="info.html">
            <button class="info" type="button"> Info</button>
        </a>
        <a href="main.html">
            <button class="kontakti" type="button"> Kontakti</button>
        </a>
        <img src="../images/pinpng.com-pacman-pixel-png-2562476.png" alt="logo">
    </div>
    <div class="teksts">
        <h1>Sveiki!</h1>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, molestias praesentium sit temporibus adipisci qui nihil? Illo tempore possimus placeat nulla. Distinctio error, excepturi ducimus eum aliquam nesciunt consectetur dolorum ipsum ex suscipit nemo tempore explicabo culpa nulla quod sunt quis voluptatum! Provident ducimus, accusamus dolorem ad aperiam explicabo. Assumenda.</h3>
    </div>
</body>
</html>